.latest-news {
	padding: 55px 0;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.latest-news a{
  color: #00447B;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  display: inline-block;
  font-size: 20px;
  background-color: #fff;
}
.latest-news a:hover {
	color: #fff;
  background-color: #7197B6;
}
div#block-latestnews {
	border: 2px solid #00447B;
	border-radius: 12px;
	background-color: #00447B;
	margin-top: 40px;
}